html, body {
    height: 100%;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex-grow: 1;
}

.apiPicture {
    width: 100%;
    height: auto;
}

#footer::after {
    position: absolute;
    bottom: 0;
    height: 120px;
}

#currentSiteNumber {
    height: 38px;
    width: 60px;
    text-align: center;
    vertical-align: middle;
}

.detail-headline {
    text-decoration: underline;
    font-weight: bold;
}


/* 

[x]   TODO: detailssite
[]    TODO: responsive 
[x]   TODO: navbar
[x]   TODO: footer

*/