.apiPicture {
    width: 100%;
    height: auto;
}

#footer::after {
    position: absolute;
    bottom: 0;
    height: 120px;
}

#currentSiteNumber {
    height: 38px;
    width: 60px;
    text-align: center;
    vertical-align: middle;
}

.detail-headline {
    text-decoration: underline;
    font-weight: bold;
}

/* 

[]    TODO: search
[x]   TODO: detailssite
[]    TODO: responsive 
[x]   TODO: navbar
[]    TODO: footer

*/